@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@200;400;700&display=swap');
nav{
  font-family:Oswald;
}
li{
  margin:0px 20px 0px 20px;
}
.nav-item:hover{
background-color:#ddd;
}
.heading{
  font-family:Oswald;
  font-weight:200;
font-size:50px;
  letter-spacing: 15px;
}
.card:hover{
  background:#dddddd;
}
.card-text{
  color:#808080;
}
.playfair{
  font-family:playfair display;
}
.oswald{
  font-family:oswald;
}
.oswaldlight{
  font-weight:300;
}
.productimage{
  height:500px;
  overflow:hidden;
}
.card-img-top{
}
.bigbtn{
  width:300px;
  background:#fff;
  border:1px solid #000;
}
.bigbtn:hover{
  background:#ddd;
}
.carousel{
  height:600px;
  overflow:hidden;
}
.producttitle{
font-weight:200;

}