@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
*{
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
.itemquantity{
    width: fit-content; 
  border:1px solid #81C784;
  border-radius:25px;
}
.itemquantity input[type="text"]{
  color:#81C784;
  border:none;
  width:40px;
  text-align:center;
}
.itemquantity input[type="button"]{
  border:none;
  color:#81C784;
  background:none;
  border-radius:25px;
  width:30px;
}
footer {
  background: #81C784;
  color: white;
   position:absolute;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
}
footer a{text-decoration: none;color: white;}
heading{
  font-size: 30px;
  font-weight: 700;
}
.lighttext{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}
.green{
  color: #81C784;
}
.bggreen{
  background-color: rgba(129, 199, 132, 0.3)
;
}
.themebtn{
  padding: 10px;
  border-radius: 10px;
}
.themebtn i{
  margin-left: 5px;
  margin-right: 10px;
}
.btnlight{
  background: #ffffff;
  border: 1px solid #81C784;
  margin: 0 10px 0 10px;
}
.btndark{
  background: #81C784;
  color: #ffffff;
  border: 0;
  margin: 0 10px 0 10px;
}
.itemrow:hover, .btnlight:hover{
  background: #eeeeee;
}
.btndark:hover{
  background: #43A047;
}
.iconbtn{
  padding: 15px;
  margin: 5px;
  border-radius: 25px;
  border: none;
  background: #81C784;
  color: #ffffff;
  font-size: 20px;
}
.iconbtn:hover{
  background:#43A047;
}
.red{
  background: #F4511E;
}
.red:hover{
  background: #BF360C;
}
.borderbottom{
  border-bottom: 1px solid #81C784;
}